@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1024px;
//compu
$desktop-1: 1023px;
//compu
$desktop-2: 1440px;

$telefono-1: 359px;
$tablet-1: 760px;
$laptop-1: 1000px;


// Colores
$negro: #000000;
$amarillo: #e0aa09f3;
$verde: #71B100;
$azul: #21bbee;
$cyan: #57dffd;

$morado: #ef19e0;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: rgb(204, 36, 17);
$gris-formulario: rgb(236, 240, 241);

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900